<div v-if="show">
  <v-card
    class="mx-auto"
    max-width="400"
    outlined
  >
    <v-list-item three-line>
      <v-list-item-avatar
        tile
        size="80"
      >
      <v-img :src="track.album.cover_medium"></v-img>
    </v-list-item-avatar>

      <v-list-item-content>
        <div class="overline mb-4">CANCIÓN</div>
        <v-list-item-title class="headline mb-1">{{ track.title }}</v-list-item-title>
        <v-list-item-subtitle>{{ track.album.title }}</v-list-item-subtitle>
      </v-list-item-content> 
    </v-list-item>

    <v-card-actions>
      <v-btn rounded color="success" small>
        <v-icon left>mdi-play</v-icon>
        REPRODUCIR
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</div>

<div v-else>
  <v-alert
    dense
    type="info"
  >
    <v-row dense>
      <v-col>
        <span></span>No existe la cancion para mostrar la información.</span> 
      </v-col>
    </v-row>
  </v-alert>
</div>