<v-app id="inspire">
  <v-navigation-drawer
    v-model="drawer"
    app
    clipped
  >
    <!-- BEGIN NAVBAR LIST COMPONENT -->
    <app-navbar-list></app-navbar-list>
    <!-- END NAVBAR LIST COMPONENT -->

  </v-navigation-drawer>

  <!-- BEGIN NAVBAR TOOLBAR COMPONENT -->
  <app-navbar-toolbar 
    :drawer="drawer" 
    title="App Music Deezer" 
    v-on:clikedDrawer="onClikedDrawer"
    >
  </app-navbar-toolbar>
  <!-- END NAVBAR TOOLBAR COMPONENT -->

  <!-- BEGIN V-CONTENT COMPONENT -->
  <v-content>
    <v-container
      fluid
    >
      <v-row
        align="start"
        justify="start"
      >
        <v-col>
          <!-- BEGIN ROUTER VIEW COMPONENT -->
          <transition name="slide" mode="out-in">
            <router-view></router-view>
          </transition>   
          <!-- END ROUTER VIEW  COMPONENT -->
          
        </v-col>
      </v-row>
    </v-container>
  </v-content>
  <!-- BEGIN V-CONTENT COMPONENT -->

  <!-- BEGIN V-FOOTER COMPONENT -->
  <v-footer app>
    <v-row>
      <v-col cols="12" sm="12">
        <span>&copy; 2020 &nbsp;</span>
        Hecho con &nbsp;<v-btn x-small color="info" dark href="https://www.deezer.com/">API Deezer</v-btn>
      </v-col>
    </v-row>
  </v-footer>
  <!-- END V-FOOTER COMPONENT -->
</v-app>
